@font-face {
  font-family: 'Bebas Neue Bold';
  src: url('../fonts/bebas-neue-bold/bebas-neue-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bebas-neue-bold/bebas-neue-bold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/bebas-neue-bold/bebas-neue-bold.otf')
      format('opentype'),
    /* Open Type Font */ url('../fonts/bebas-neue-bold/bebas-neue-bold.svg')
      format('svg'),
    /* Legacy iOS */ url('../fonts/bebas-neue-bold/bebas-neue-bold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/bebas-neue-bold/bebas-neue-bold.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/bebas-neue-bold/bebas-neue-bold.woff2')
      format('woff2'); 
  font-weight: normal;
  font-style: normal;
}
