/*Основные стили*/
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #f3f3f3;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 16px 12px 20px 10px;
  min-width: 320px;
}
//==========title==========//

.title__text {
  font-family: 'Bebas Neue Bold';
  color: #0b64fe;
  width: 90%;
  font-weight: bold;
  font-size: 38px;
  line-height: 100%;
  margin-bottom: 35px;
}

//=====description-text=====//
.description,
.description2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 170%;
  color: #181818;
}
.description {
  margin-bottom: 45px;
}

//===========table==========//
.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-bottom: 50px;
  position: relative;
  min-width: 340px;
  min-height: 265px;
  height: 100%;
  width: 100%;
  max-width: 400px;
  &__container{
    width: fit-content;
  }
  &__desk-img{
    display: block;
    z-index: 10;
    -webkit-transition: all 2s 0s ease;
    -o-transition: all 2s 0s ease;
    transition: all 2s 0s ease;
  }
  &__legs-img{
    position: absolute;
    z-index: -1;
    top: 10%;
  }
  &__btns{
    position: absolute;
    left: 23%;
    bottom: 25%;
    z-index: 20;
    width: 160px;
    height: 70px;
  }
  &__btn-up{
    min-width: 61.15px;
    min-height: 61.15px;
    background: #a6ffff;
    border-radius: 50%;
    border: none;
    margin-right: 20px;
    font-weight: 300;
    font-size: 12.2752px;
    line-height: 170%;
    color: #000000;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  &__btn-up:hover{
    background: #4af8ff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  &__btn-down{
    width: 61.15px;
    height: 61.15px;
    background: #a6ffff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: 300;
    font-size: 12.2752px;
    line-height: 170%;
    color: #000000;
  }
  &__btn-down:hover{
    background: #4af8ff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  &_selected-up{
    display: block;
    content: '';
    -webkit-transition: all 3s 0s ease;
    -o-transition: all 3s 0s ease;
    transition: all 3s 0s ease;
    -webkit-transform: translateY(-12%);
    -ms-transform: translateY(-12%);
    transform: translateY(-12%);
  }

}

@media (min-width: 900px) {
  .title__text {
    font-family: 'Ubuntu';
    color: #0b64fe;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    max-width: 500px;
    font-size: 42px;
  }
  .table {
    max-height: 383px;
    min-width: 575px;
    margin: 75px auto 42px 62px;
    &__container{
      width: fit-content;
    }
    &__desk-img{
      img{
        display: block;
      width: 100%;
      z-index: 10;
      -webkit-transition: all 2s 0s ease;
      -o-transition: all 2s 0s ease;
      transition: all 2s 0s ease;
      }
    }
    &__legs-img{
      img{
        width: 100%;
        z-index: -1;
      }
    }
    &__btns{
      position: absolute;
      width: 480px;
      height: 203px;
      left: 25%;
      top: 70%;
    }
    &__btn-up{
      height: 100px;
      width: 100px;
      font-size: 27px;
      margin-right: 73px;
    }
    &__btn-down{
      height: 100px;
    width: 100px;
    font-size: 27px;
    }
  }
  .description,
  .description2 {
    font-weight: 300;
    font-size: 22px;
    color: #181818;
  }
  .description2 {
    margin-top: 100px;
  }
}

@media (min-width: 1200px) {
  .title__text {
    position: absolute;
    font-family: 'Ubuntu';
    color: #0b64fe;
    font-style: normal;
    font-weight: 300;
    max-width: 500px;
    margin: 26px auto 55px 18.5em;
    font-size: 36px;
  }
  .table {
    max-height: 483px;
    max-width: 575px;
    margin: 45px auto 42px 62px;
    &__container{
      width: fit-content;
    }
    &__desk-img{
      img{
        display: block;
        width: 100%;
        z-index: 10;
        -webkit-transition: all 2s 0s ease;
        -o-transition: all 2s 0s ease;
        transition: all 2s 0s ease;
      }
    }
    &__legs-img{
      img{
        width: 100%;
        z-index: -1;
      }
    }
    &__btns{
      position: absolute;
      width: 480px;
      height: 203px;
      left: 30%;
      top: 60%;
    }
    &__btn-up{
      height: 100px;
      width: 100px;
      font-size: 28px;
      margin-right: 43px;
    }
    &__btn-down{
      height: 100px;
      width: 100px;
      font-size: 28px;
    }
  }
  .description,
  .description2 {
    position: absolute;
    max-width: 600px;
    margin: 10em auto 2em 37em;
    font-weight: 300;
    font-size: 18px;
    color: #181818;
  }
  .description2 {
    margin-top: 21em;
  }
}

@media (min-width: 1900px) {
  .title__text {
    position: absolute;
    font-family: 'Ubuntu';
    font-size: 62px;
    font-style: normal;
    color: #0b64fe;
    font-weight: 300;
    line-height: 100%;
    max-width: 500px;
    margin: 26px auto 55px 17.5em;
  }
  .table {
    max-height: 783px;
    min-width: 975px;
    margin: 45px auto 42px 62px;
    &__container{
      width: fit-content;
    }
    &__desk-img{
      img{
        display: block;
        width: 100%;
        z-index: 10;
        -webkit-transition: all 2s 0s ease;
        -o-transition: all 2s 0s ease;
        transition: all 2s 0s ease; 
      }
    }
    &__legs-img{
      img{
        width: 100%;
        z-index: -1;
      }
    }
    &__btns{
      position: absolute;
      width: 480px;
      height: 203px;
      left: 25%;
      top: 60%;
    }
    &__btn-up{
      height: 200px;
      width: 200px;
      font-size: 40px;
      margin-right: 73px;
    }
    &__btn-down{
      height: 200px;
      width: 200px;
      font-size: 40px;
    }
  }
  .description,
  .description2 {
    position: absolute;
    max-width: 500px;
    margin: 14em auto 2em 49.5em;
    font-weight: 300;
    font-size: 22px;
    line-height: 170%;
    color: #181818;
  }
  .description2 {
    margin-top: 25.5em;
  }
}
